.nav{
    background-color: black;
    color: white;
    font-size: 25px;
    position: fixed ;
    top:0;
    left: 0;
    width: 100%;

}
.title{
    display: inline-flex;
    margin: 20px;
}
.dev{
    display: inline-flex;
    margin: 20px;
}
.comp{
    display: inline-flex;
    margin: 20px;
}
.login{
    display: inline-flex;
    position: absolute;
    top:15px;
    right: 5px;
    margin: 10px;
}
.signup
{
    display: inline-flex;
    position: absolute;
    top:15px;
    right: 100px;
    margin: 10px;
}